:root {
    --color-primary: blueviolet;
    --color-secondary: rgb(71, 0, 138);
    --color-accent: #ffffff;

    --button-active: #e7e7e7;
    --button-inactive: rgb(241, 241, 241);
    
    --bg-main: #DFDBE5;
    --bg-panel: blueviolet;
    
    --border-standard: 1px solid black;
    --border-light-grey: #E5E7EB;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;

    --font-heading: 'Quintessential', serif;
    --font-body: 'Delius', sans-serif;
    --font-ui: 'Roboto', sans-serif;
    --font-ui2: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Delius';
    src: url('Delius-Regular.woff2') format('woff2'),
        url('Delius-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quintessential';
    src: url('Quintessential-Regular.woff2') format('woff2'),
        url('Quintessential-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    padding: var(--space-sm);
    background-color: var(--button-inactive);
    /* background: linear-gradient(20deg, rgb(110, 47, 255), rgb(255, 104, 17)); */
}

aside {
    display: grid;
    grid-template-columns: min-content auto;
    padding: var(--space-xs);
    gap: var(--space-sm);
}

.addProject {
    font-family: var(--font-ui2);
    font-size: large;
    border: none;
    border-radius: var(--space-sm);
    padding-bottom: 2px;
    cursor: pointer;
}

.addProject:hover {
    background-color: var(--button-active);
}

.side-bar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    gap: var(--space-sm);
    font-family: var(--font-ui2);
}

.project-button {
    display: flex;
    justify-content: space-between;
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    background-color: var(--button-inactive);
    cursor: pointer;
}

.project-button:hover {
    background-color: var(--button-active);
}

.project-button.active {
    background-color: white;
    transition: background-color 0.2s ease;
}

.button.sidebar {
    min-width: 0;
    width: 200px;          
    font-size: 1rem;
    white-space: nowrap;    
    overflow: hidden;       
    text-overflow: ellipsis;
}

.mdi-close {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding-left: 2px;
    cursor: pointer;
}

.mdi-close:hover {
    background-color: var(--button-inactive);
}

.input-task form {
    display: grid;
    grid-template-columns: minmax(500px, 1500px) 1fr 1fr max-content;
    gap: var(--space-sm);   
}

input[type="text"],
input[type="date"],
select,
.addTask-btn {
    flex-grow: 1;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: var(--space-sm);
    border: 1px solid var(--border-light-grey);
    font-family: var(--font-ui2);
    background-color: white;
}

input[type="text"] {
    cursor: text;
}

input[type="date"],
select,
.addTask-btn {
    cursor: pointer;
}

.title {
    /* background-color: #eee; */
    color: #444;
    /* padding: 18px; */
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; 
    font-size: 16px;
    /* border-bottom: 1px solid #ddd; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

 .title-button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: transform 0.4s ease;
}

.title-button:hover {
    transform: scale(1.05);
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out; 
}

input[type="checkbox"]:checked + span,
input[type="checkbox"]:checked + input {
    text-decoration: line-through;
    color: gray;
}