* {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(20deg, rgb(110, 47, 255), rgb(255, 104, 17));
}

aside {
    display: flex;
}

form {
    display: flex;   
}

.form.title,
input[type="text"] {
    flex-grow: 1;
}

.title {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s; 
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

 .title-button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: transform 0.4s ease;
}

 .minus-icon {
    transform: rotate(180deg); 
}

.title-button:hover,
.title-button.active {
    transform: scale(1.05);
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out; 
}

.mdi-chevron-down-circle {
    display: block;
}

.title-button.active .mdi-chevron-down-circle {
    display: none;
}

.title-button.active .mdi-chevron-right-circle {
    display: block;
}

.mdi-chevron-right-circle {
    display: none;
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: gray;
}

/* .checked + span {
    text-decoration: line-through;
    color: gray;
} */

span {
    pointer-events: none;
}